@import "tailwindcss";

@theme {
  /* Colors */
  --color-foreground: #191a23;
  --color-background: #f3f3f3;
  --color-accent: #b9ff66;

  /* Fonts */
  --font-space-grotesk: var(--font-space-grotesk);
}

body {
  @apply bg-background text-foreground font-space-grotesk;
}

@layer components {
  .heading-1 {
    @apply text-[43px]/[auto] font-medium text-foreground md:text-[60px]/[auto] md:font-medium;
  }
  .heading-2 {
    @apply text-[36px]/[auto] font-medium text-foreground md:text-[40px]/[auto] md:font-medium;
  }
  .heading-3 {
    @apply text-[26px]/[auto] font-medium text-foreground md:text-[30px]/[auto] md:font-medium;
  }
  .heading-4 {
    @apply text-[18px]/[auto] font-medium text-foreground md:text-[20px]/[auto] md:font-medium;
  }
  .text-base {
    @apply text-[16px]/[24px] font-normal text-foreground md:text-[18px]/[auto] md:font-normal;
  }
}
