@import "tailwindcss";

@theme {
  /* Colors */
  --color-foreground: #191a23;
  --color-background: #ffffff;
  --color-grey: #f3f3f3;
  --color-accent: #b9ff66;

  /* Fonts */
  --font-space-grotesk: var(--font-space-grotesk);

  /* Text Sizes */
  --text-md: 16px;
  --text-xl: 18px;
  --text-2xl: 20px;
  --text-3xl: 26px;
  --text-4xl: 30px;
  --text-5xl: 36px;
  --text-6xl: 40px;
  --text-7xl: 43px;
  --text-8xl: 60px;

  /* Leading */
  --leading-md: 28px;

  /* Border Radius */
  --radius-sm: 7px;
  --radius-md: 14px;
  --radius-lg: 45px;

  /* Shadows */
  --shadow-xl: 0px 5px 0px 0px #191a23;
}

@layer base {
  body {
    @apply text-base bg-background text-foreground font-space-grotesk;
  }
}
@layer components {
  /* Headings */
  .heading-1xl {
    @apply text-xl font-medium xl:text-2xl;
  }
  .heading-2xl {
    @apply text-3xl font-medium xl:text-4xl;
  }
  .heading-3xl {
    @apply text-5xl font-medium xl:text-6xl;
  }
  .heading-4xl {
    @apply text-7xl font-medium xl:text-8xl;
  }

  /* Text sizes */
  .text-base {
    @apply text-md md:text-xl;
  }

  /* Buttons */
  .button-foreground {
    @apply w-max block px-[35px] py-[20px] bg-foreground text-background text-xl xl:text-2xl leading-md rounded-md;
  }
  .button-transparent {
    @apply w-max block px-[35px] py-[20px] bg-transparent border border-foreground text-foreground text-xl xl:text-2xl leading-md rounded-md;
  }

  /* Utility */
  .wrapper {
    @apply max-w-[1240px] mx-auto;
  }
  .header-wrapper {
    @apply pt-[35px] xl:pt-[60px] px-[10px];
  }
  .span-accent {
    @apply w-max h-max bg-accent rounded-sm px-[7px] inline-flex items-center;
  }
  .span-background {
    @apply w-max h-max bg-background rounded-sm px-[7px] inline-flex items-center;
  }
}
